<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="module" src="/views/countries.js"></script>
</head>
<body>
    <h1>Países de un continente</h1>
    <h2>El continente es:</h2>

    <table border="1" id="tTabCountries">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Bandera</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
</html>