@font-face {
    font-family: "Roboto";
    src: url(./roboto/Roboto-Regular.ttf);
}

:root {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;
}

.parallax {
    height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 500px; */
    background-position: center;
    background-attachment: fixed; /* Parallax effect */
    display: grid;
    place-content: center;
}

.parallax__title {
    opacity: 0.7;
    color: #fff;
    background-color: #000;
    font-size: 3rem;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5ch;
}

.parallax:not(:first-child)>.parallax__title {
    background-color: transparent;
}

.parallax-one {
    background-image: url(./images/the-mandalorian-01.jpg);
}

.parallax-two {
    background-image: url(./images/the-mandalorian-02.jpg);
}

.parallax-three {
    background-image: url(./images/the-mandalorian-03.jpg);
}

article>header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem 0 0 0;
}

article>p {
    text-align: center;
    padding: 2rem 10rem;
}